local   all             postgres                                peer
local   all             all                                     peer
host    all             all             {{ ip_nodo2 }}/32       md5
host    all             all             ::1/128                 md5

