---
- name: Configuraci贸n zona Bind
  template:
    src: zona.juanpe.j2
    dest: /etc/bind/named.conf.local
    owner: root
    group: bind
    mode: 0644

- name: Configuraci贸n zona directa
  template:
    src: db_zone.j2
    dest: /var/cache/bind/db_{{ dns_zone }}
    owner: bind
    group: bind
    mode: 0644

- name: Configuraci贸n zona inversa
  template:
    src: db_zone_ip.j2
    dest: /var/cache/bind/db_{{ dns_zone_ip }}
    owner: bind
    group: bind
    mode: 0644

- name: Recargamos configuraci贸n Bind
  systemd:
    name: bind9
    state: reloaded
...